*{
    border: 1px black solid;
    margin: 0%;
    padding: 0%;
    list-style-type: none;
}
@font-face {
    font-family:Mukta;
    src: url("./fonts/Mukta-Regular.ttf");
}

body{
   height: 100vh;
   background: grey;
   display: flex;
    flex-direction: column;
    align-items: center;
}


.navigation {
    margin-top: 5em;
   height: 5%;
    border: 2px green solid;
    width: 100%;
    display: flex;
    background: whitesmoke;
   align-items: center;
   justify-content: center;
    font-size: 1.1em;
    flex-direction: column;
}
.nav-first {
    display: flex;
    border: 1px 0px 1px 0px black solid;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-left: 1px black solid;
     gap: 45px;
    width: 50%;
    
}

.more li{
    display: flex;

    
}

.more img {
    display: flex;
    height: 22px;
    
}


.show-more {
    display: none;
    visibility: hidden;
    width: 100%;
    border: 1px red solid;
    height: 50px;
    width: 50%;
       align-items: center;
      font-size: 1.1em;
    gap: 45px;
}
.show-more li {
    margin-left: 28px;
}

.test {
    border: 1px red solid;
    height: 100px;
    width: 100px;
}